// Variable overrides second
$primary: rgb(255, 127, 0);
$secondary: rgb(42, 92, 255);
$warning: rgb(255, 163, 7);
$dark: rgb(0, 0, 0);
$enable-shadows: true;
$prefix: "mo-";
$nav-link-color: #222129;
$navbar-light-toggler-icon-bg:url("data:image/svg+xml,%3Csvg width='27' height='27' viewBox='0 0 27 27' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0.5' y='0.5' width='26' height='4.86957' fill='%2303004F' stroke='%2303004F' stroke-linecap='round' stroke-linejoin='round'/%3E%3Crect x='0.5' y='11.0654' width='26' height='4.86957' fill='%2303004F' stroke='%2303004F' stroke-linecap='round' stroke-linejoin='round'/%3E%3Crect x='0.5' y='21.6304' width='26' height='4.86957' fill='%2303004F' stroke='%2303004F' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
$navbar-light-toggler-icon-bg-show:url("data:image/svg+xml,%3Csvg width='27' height='27' viewBox='0 0 27 27' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='11.5002' y='26.501' width='26' height='4' transform='rotate(-90 11.5002 26.501)' fill='%2303004F' stroke='%2303004F' stroke-linecap='round' stroke-linejoin='round'/%3E%3Crect x='26.5005' y='15.5005' width='26' height='4' transform='rotate(-180 26.5005 15.5005)' fill='%2303004F' stroke='%2303004F' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
$line-height-lg: 1.6 !default;

$spacer: 1rem !default;
$spacers: (
        0: 0,
        1: $spacer * .25,
        2: $spacer * .5,
        3: $spacer,
        4: $spacer * 1.5,
        5: $spacer * 3,
        6: $spacer * 5,
        7: $spacer * 8,
        8: $spacer * 13,
        9: $spacer * 21,
        10: $spacer * 34,
        11: $spacer * 55,
        12: $spacer * 89,
        13: $spacer * 144,
        14: $spacer * 233,
        15: $spacer * 377,
        16: $spacer * 610,
        17: $spacer * 987,
        18: $spacer * 1597,
        19: $spacer * 2584,
        20: $spacer * 4181,
) !default;

$enable-negative-margins: true !default;

$display-font-sizes: (
        1: 5rem,
        2: 4.5rem,
        3: 4rem,
        4: 3.5rem,
        5: 3rem,
        6: 2.5rem,
        7: 2rem,
        8: 1.5rem,
        9: 1.25rem,
        10: 1rem,
        11: .875rem,
        12: .75rem
) !default;

$grid-breakpoints: (
        xs: 0,
        sm: 576px,
        md: 768px,
        lg: 992px,
        xl: 1200px,
        xxl: 1400px,
        xxxl: 1600px,
        xxxxl: 1920px
) !default;

$nav-link-hover-color: $secondary;