section.container.mt-lg-7.mb-lg-7.col-11.col-md-12.px-3.px-md-auto.mb-5
    .card.border-0.px-lg-6.py-lg-5.rounded-4.px-4.py-5
        .row
            .col-lg-3.col-12
                img(src='icon/service_1.svg')
                h5.text-primary.display-8.mt-lg-4.mt-3.fw-normal
                    | Entrega diaria #[br.d-none.d-lg-block]
                    | asegurada
                .raya.w-20.mb-lg-4.mt-lg-3.my-4
                p.fw-light Nuestro equipo de logística trabaja contrarreloj para despachar los pedidos recibidos en el mismo día, eso fortalece la calidad de nuestro servicio.
            .col-lg-3.col-12.mt-4.mt-md-0
                img(src='icon/service_2.svg')
                h5.text-primary.display-8.mt-lg-4.mt-3.fw-normal
                    | Servicio paragolpe #[br.d-none.d-lg-block]
                    | a paragolpe
                .raya.w-20.mb-lg-4.mt-lg-3.my-4
                p.fw-light Contamos con una variedad de productos que resuelven todas las demandas del tu mostrador.
            .col-lg-3.col-12.mt-4.mt-md-0
                img(src='icon/service_3.svg')
                h5.text-primary.display-8.mt-lg-4.mt-3.fw-normal
                    | Cobertura nacional #[br.d-none.d-lg-block]
                    | #[br]
                .raya.w-20.mb-lg-4.mt-lg-3.my-4
                p.fw-light Despachamos pedidos a cualquier punto del país en tiempos super optimizados.
            .col-lg-3.col-12.mt-4.mt-md-0
                img(src='icon/service_4.svg')
                h5.text-primary.display-8.mt-lg-4.mt-3.fw-normal
                    | Precio competitivo #[br.d-none.d-lg-block]
                    | en toda categoría
                .raya.w-20.mb-lg-4.mt-lg-3.my-4
                p.fw-light
                    | Nuestro objetivo es brindar el mejor servicio, calidad y soluciones para tu mostrador. #[br.d-none.d-lg-block]
                    | Eso se logra brindando el mejor precio del mercado.