.top-footer.bg-light
    img(src="img/footer/background.svg", alt="Background").w-100.mt-lg-n6.mt-n4
    footer.container.pb-6.pt-2
        .row
            .col-md-6.col-lg-4.col-12.d-md-block.d-flex.justify-content-center.px-lg-0
                div
                    div
                        a(href="./index.html")
                            img(src="img/logo.svg", alt="Logo")
                    div.mt-lg-5.d-flex.align-items-center.justify-content-center.justify-content-md-start.mt-4
                        a.btn.btn-dark(href='./proximamente.html')
                            | LOGIN
                            img(src="icon/sbd/arrow-rigth.svg").ms-2
            .col-md-6.col-lg-3.col-6.mx-auto.mt-2.mt-lg-0.px-lg-0
                div.d-flex.justify-content-center.d-lg-none.mt-5.d-md-none.d-block
                    a(href="mailto:sbd@example.com" target="_blank")
                        img(src="icon/sbd/email.svg", style="width:50px")
                    a(href="tel:00000000000" target="_blank").mx-5
                        img(src="icon/sbd/headphone.svg", style="width:50px")
                    a(href="https://wa.me/00000000000" target="_blank")
                        img(src="icon/sbd/whatsapp.svg", style="width:50px")
                ul.nav.flex-column.d-md-block.d-none
                    li.nav-item.mb-md-3.justify-content-center.d-flex
                        a.nav-link.p-0(href='mailto:consultas@snaiderbrothers.com').d-flex.align-items-center.hover-color
                            img(src="icon/sbd/email.svg", alt="Email" width="40").me-3
                            span.d-md-block.d-none consultas@snaiderbrothers.com
            .col-md-6.col-lg-3.col-4.mx-auto.mt-4.mt-lg-0.px-lg-0.d-md-block.d-none
                ul.nav.flex-column.ml-lg-auto
                    li.nav-item.mb-md-3.justify-content-center.d-flex
                        a.nav-link.p-0(href='tel:+541170780417').d-flex.align-items-center.hover-color
                            img(src="icon/sbd/headphone.svg", alt="Phone" width="40").me-3
                            span.d-md-block.d-none +54 11 7078 0417
            .col-lg-2.col-4.mx-auto.mt-2.mt-lg-0.px-lg-0.mt-4.d-md-block.d-none
                ul.nav.flex-column
                    li.nav-item.mb-md-3.justify-content-center.d-flex
                        a.nav-link.p-0(href='https://wa.me/541125582304').d-flex.align-items-center.hover-color
                            img(src="icon/sbd/whatsapp.svg", alt="Whatsapp" width="40").me-3
                            span.d-md-block.d-none +54 11 2558 2304
