header
    //
    nav.navbar.navbar-expand-md.fixed-top.bg-white.py-4.pb-lg-3.pt-lg-4.border-bottom
        .container
            a.navbar-brand(href="./index.html")
                embed(src="img/logo.svg", type="image/png", alt="Logo")
            button.navbar-toggler.border-0(type="button", data-bs-toggle="collapse", data-bs-target="#navbarNav", aria-controls="navbarNav", aria-expanded="false", aria-label="Toggle navigation")
                span.navbar-toggler-icon
            #navbarNav.collapse.navbar-collapse.justify-content-end
                ul.nav.nav-pills.align-items-center.d-lg-flex
                    - for (var i = 0; i < menu.length; i++)
                        - if (menu[i].active)
                            li.nav-item.me-lg-2.position-relative
                                a.nav-link.active(href=menu[i].url) !{menu[i].name}
                        - else
                            li.nav-item.me-lg-2.position-relative
                                a.nav-link(href=menu[i].url) !{menu[i].name}
                    li.nav-item.mt-4.mt-lg-auto.ms-3
                        a.btn.btn-dark(href='./proximamente.html').d-flex.align-items-center
                            |LOGIN
                            img(src="icon/sbd/arrow-rigth.svg").ms-2
                div.d-flex.justify-content-center.d-lg-none.mt-5
                    a(href="mailto:sbd@example.com" target="_blank")
                        img(src="icon/sbd/email.svg")
                    a(href="tel:00000000000" target="_blank").mx-5
                        img(src="icon/sbd/headphone.svg")
                    a(href="https://wa.me/00000000000" target="_blank")
                        img(src="icon/sbd/whatsapp.svg")

