.container.pt-lg-5.col-10.col-md-12.col-lg-12.mt-lg-n10.pt-lg-6.mt-n8
    .card.border-0.flex-lg-row.align-items-center.align-items-lg-start.justify-content-center.rounded-4.px-lg-4.py-lg-4.py-5.d-md-block.d-none.animate__animated.animate__fadeInDown
        div.d-block.justify-content-center.mt-5.mt-lg-0.mt-md-auto.align-items-center.d-lg-inline-block.py-lg-3
            img(src='img/sbd-home/section_2/img.png').w-50.mx-auto.d-md-block.d-none
            img(src='img/sbd-home/section_2/img.png').w-70.mx-auto.d-md-none.d-block.mb-4
            .raya.w-30.mb-lg-4.mt-lg-5.my-4.mx-auto.d-md-block.d-none
            .text-center.pt-lg-2
                p
                    | Expertos mundiales en productos de #[br]
                    | filtrado: Filtros de aceite, aire,  #[br]
                    | combustible y cabina
        div.d-block.justify-content-center.mt-5.mt-lg-0.mt-md-auto.align-items-center.d-lg-inline-block.py-lg-3
            img(src='img/sbd-home/section_2/img_1.png').w-50.mx-auto.d-md-block.d-none
            img(src='img/sbd-home/section_2/img_1.png').w-80.mx-auto.d-md-none.d-block.mb-4
            .raya.w-20.mb-lg-4.mt-lg-5.my-4.mx-auto.d-md-block.d-none
            .text-center.pt-lg-2
                p
                    | Actor principal en el mercado de #[br]
                    | lubricantes, donde operan  #[br]
                    | con las marcas TotalEnergies y ELF
        div.d-block.justify-content-center.mt-5.mt-lg-0.mt-md-auto.align-items-center.d-lg-inline-block.py-lg-3
            img(src='img/sbd-home/section_2/img_2.png').w-50.mx-auto.d-md-block.d-none
            img(src='img/sbd-home/section_2/img_2.png').w-80.mx-auto.d-md-none.d-block.mb-4
            .raya.w-20.mb-lg-4.mt-lg-5.my-4.mx-auto.d-md-block.d-none
            .text-center.pt-lg-2
                p
                    | Líder mundial en la fabricación de  #[br]
                    | sistemas limpiaparabrisas #[br]
                    | #[br]

.owl2.owl-carousel.d-md-none.d-block
    .card.border-0.flex-lg-row.align-items-center.justify-content-center.rounded-4.px-lg-4.py-lg-5.py-5.my-3
        div.d-block.justify-content-center.mt-0.mt-lg-0.mt-md-auto.align-items-center.d-lg-block
            img(src='img/sbd-home/section_2/img.png').w-50.mx-auto.mb-4
            .raya.w-30.mb-lg-4.mt-lg-5.my-4.mx-auto
            .text-center.pt-lg-2
                p
                    | Expertos mundiales en productos de #[br]
                    | filtrado: Filtros de aceite, aire,  #[br]
                    | combustible y cabina
    .card.border-0.flex-lg-row.align-items-center.justify-content-center.rounded-4.px-lg-4.py-lg-5.py-5.mx-5.my-3
        div.d-block.justify-content-center.mt-0.mt-lg-0.mt-md-auto.align-items-center.d-lg-block
            img(src='img/sbd-home/section_2/img_1.png').w-75.mx-auto.mb-4
            .raya.w-20.mb-lg-4.mt-lg-5.my-4.mx-auto
            .text-center.pt-lg-2
                p
                    | Actor principal en el mercado de #[br]
                    | lubricantes, donde operan  #[br]
                    | con las marcas TotalEnergies y ELF
    .card.border-0.flex-lg-row.align-items-top.justify-content-center.rounded-4.px-lg-4.py-lg-5.py-5.my-3
        div.d-block.justify-content-center.mt-0.mt-lg-0.mt-md-auto.align-items-center.d-lg-block
            img(src='img/sbd-home/section_2/img_2.png').w-50.mx-auto.mb-4
            .raya.w-30.mb-lg-4.mt-lg-3.my-4.mx-auto
            .text-center.pt-lg-2
                p
                    | Líder mundial en la fabricación de  #[br]
                    | sistemas limpiaparabrisas
