section.col-lg-8.col-xxl-7.mx-auto.mt-lg-5.mb-lg-7
    .owl1.owl-carousel
        .border-0.col-lg-11.col-xxxl-8.my-lg-4.rounded-4.mx-4.mx-md-4.d-md-flex.d-block.shadow.bg-white.mb-3
            img.card-img-top(src="img/slider-image/img.jpeg", alt="..." style="width:40%;").d-md-block.d-none.rounded-start-4.object-fit-cover
            img.card-img-top(src="img/slider-image/img.jpeg", alt="..." ).d-md-none.d-block.rounded-top-4.object-fit-cover
            .card-body.px-lg-5.px-4.align-items-center.d-flex.py-4
                div
                    h5.card-title.fw-bold.display-9.text-muted 1 / 2
                    //.raya.w-20.mb-lg-4.mt-lg-3.mt-3.mb-4
                    p.card-text.fs-6.fw-light.mt-lg-4
                        | El servicio de SBD es excepcional. Siempre dispuestos a
                        | resolver cualquier consulta con amabilidad y profesionalismo.
                        | Destaco la rápida entrega y buenos precios, lo cual es
                        | fundamental para nuestro negocio. ¡Altamente recomendado!
                        | #[br]
                        | #[div.fw-bold.fs-5.mt-lg-5 Gabriel eluca]
                        | #[div.fw-light Lubricentro DELUCA]
        .border-0.col-lg-11.col-xxxl-8.my-lg-4.rounded-4.mx-4.mx-md-4.d-md-flex.d-block.shadow.bg-white.mb-3
            img.card-img-top(src="img/slider-image/img_1.jpeg", alt="..." style="width:40%;").d-md-block.d-none.rounded-start-4.object-fit-cover
            img.card-img-top(src="img/slider-image/img_1.jpeg", alt="..." ).d-md-none.d-block.rounded-top-4.object-fit-cover
            .card-body.px-lg-5.px-4.align-items-center.d-flex.py-4
                div
                    h5.card-title.fw-bold.display-9.text-muted 2 / 2
                    //.raya.w-20.mb-lg-4.mt-lg-3.mt-3.mb-4
                    p.card-text.fs-6.fw-light.mt-lg-4
                        | Gracias a SDD nos aseguramos la más alta calidad a
                        | precios competitivos. Además, la entrega ágil y
                        | eficiente garantiza que nuestras ventas nunca se
                        | vean comprometidas. También es para resaltar la
                        | atención experta y personalizada, son un buen aliado
                        | de nuestro negocio.
                        | #[br]
                        | #[div.fw-bold.fs-5.mt-lg-5 Nelson Garay y Robert Benitez]
                        | #[div.fw-light Taller Saenz 630]