html
    include ../components/_head.pug
    body
        main
            block content
        script(src="node_modules/jquery/dist/jquery.js")
        script(src="node_modules/owl.carousel/dist/owl.carousel.js")
        script(src="js/main.js")