html
    block variables
    include ../components/_head.pug
    body
        include ../components/_header.pug
        main
            block content
        script(src="js/jquery.js")
        script(src="js/owl.carousel.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TimelineMax.min.js")
        script(src="js/jquery.validate.js") 
        script(src="js/main.js")