extends layouts/main.pug
block variables
    -   var title = "SBD | Contacto";

    -
        var menu = [
            {name: "HOME", url: "./index.html", active: false},
            {name: "NOSOTROS", url: "./nosotros.html", active: false},
            {name: "MARCAS", url: "./marcas.html", active: false},
            {name: "CONTACTO", url: "./contacto.html", active: true} 
        ];
block content
    section.mb-lg-7.col-12.col-md-12.px-3.px-md-auto.mb-1.bg-light.pt-lg-8.pb-lg-6.pt-7.mt-4.pb-5
        div.container
            h2.display-6.text-center.fw-bold.d-md-block.d-none #[span CANALES DE ATENCIÓN ] #[span.fw-bold.text-primary SBD]
            h2.display-5.text-center.fw-ligth.d-md-none.d-block CANALES #[br] DE ATENCIÓN
            .row.mt-lg-6
                a(href='tel:+541170780417').text-decoration-none.col-lg.col-12.mt-5.mt-lg-0.text-center.mb-lg-0.mb-5
                    img(src='icon/sbd/contacto/img.png').mx-auto.d-block.mb-lg-4.mb-3.w-15
                    h5.display-9.mt-lg-2.fw-light.text-dark
                        | +54 11 7078 0417
                a(href='https://wa.me/541125582304').text-decoration-none.col-lg.col-12.mt-2.mt-lg-0.text-center
                    img(src='icon/sbd/contacto/img_2.png').mx-auto.d-block.mb-lg-4.w-15
                    h5.display-9.mt-lg-2.mt-3.fw-light.text-dark
                        | +54 11 2558 2304
                a(href='mailto:ventasmayor@aunovit.com').text-decoration-none.col-lg.col-12.mt-5.mt-lg-0.text-center
                    img(src='icon/sbd/contacto/img_1.png').mx-auto.d-block.mb-lg-4.w-15
                    h5.display-9.mt-lg-2.mt-3.fw-light.text-dark
                        | consultas@snaiderbrothers.com
    section.bg-white
        .border-0.px-lg-6.py-lg-0.rounded-4.px-4.py-4.shadow-none.container
            h2.display-7.text-center.fw-lighter.py-5.py-md-0 Dejanos tu mensaje y nos pondremos en contacto a la brevedad
            form.row.pt-lg-4(action='#')#contact
                .col-lg-6.form-floating.mt-3
                    input(type='text' class='form-control', id='name', name='name' placeholder='Nombre y apellido')
                    label(for='name').ms-lg-3.text-muted.opacity-50.ms-3.fw-ligh Nombre y apellido
                .col-lg-6.form-floating.mt-3
                    input(type='text' class='form-control', id='business', name='business' placeholder='Nombre negocio')
                    label(for='business').ms-lg-3.text-muted.opacity-50.ms-3.fw-ligh Nombre negocio
                .col-lg-6.form-floating.mt-3
                    input(type='tel' class='form-control', id='phone', name='phone' placeholder='Teléfono')
                    label(for='phone').ms-lg-3.text-muted.opacity-50.ms-3.fw-ligh Teléfono
                .col-lg-6.form-floating.mt-3
                    input(type='email' class='form-control', id='email', name='email', placeholder='Correo electrónico')
                    label(for='email').ms-lg-3.text-muted.opacity-50.ms-3.fw-ligh Correo electrónico
                .col-lg-6.form-floating.mt-3
                    input(type='text' class='form-control' id='address1', name='address1', placeholder='Localidad')
                    label(for='address1').ms-lg-3.text-muted.opacity-50.ms-3.fw-ligh Localidad
                .col-lg-6.form-floating.mt-3
                    input(type='text' class='form-control' id='address2', name='address2', placeholder='Provincia')
                    label(for='address2').ms-lg-3.text-muted.opacity-50.ms-3.fw-ligh Provincia
                .col-lg-6.form-floating.mt-3
                    textarea(type='text' class='form-control', id='message', name='message', placeholder='Asunto', style='min-height: 150px')
                    label(for='message').ms-lg-3.text-muted.opacity-50.ms-3.fw-ligh Mensaje
                .col-lg-6.d-flex.d-md-inline-block.justify-content-md-start.justify-content-center
                    button.btn.btn-primary.mt-lg-4.mt-5.text-white.d-md-block.ms-lg-0.mx-auto(type='submit')
                        |Enviar
