extends layouts/main.pug
block variables
    -   var title = "SBD | Contacto";

    -
        var menu = [
            {name: "HOME", url: "./index.html", active: false},
            {name: "NOSOTROS", url: "./nosotros.html", active: false},
            {name: "MARCAS", url: "./marcas.html", active: false},
            {name: "CONTACTO", url: "./contacto.html", active: true} 
        ];
block content
    section.mb-lg-7.col-12.col-md-12.px-3.px-md-auto.mb-1.bg-light.pt-lg-8.pb-lg-6.pt-7.mt-4.pb-5
        div.container
            h2.display-6.text-center.fw-bold.d-md-block.d-none #[span CANALES DE ATENCIÓN ] #[span.fw-bold.text-primary SBD]
            h2.display-5.text-center.fw-ligth.d-md-none.d-block CANALES #[br] DE ATENCIÓN
            .row.mt-lg-6
                a(href='tel:+541170780417').text-decoration-none.col-lg.col-12.mt-5.mt-lg-0.text-center.mb-lg-0.mb-5
                    img(src='icon/sbd/contacto/img.png').mx-auto.d-block.mb-lg-4.mb-3.w-15
                    h5.display-9.mt-lg-2.fw-light.text-dark
                        | +54 11 7078 0417
                a(href='https://wa.me/541125582304').text-decoration-none.col-lg.col-12.mt-2.mt-lg-0.text-center
                    img(src='icon/sbd/contacto/img_2.png').mx-auto.d-block.mb-lg-4.w-15
                    h5.display-9.mt-lg-2.mt-3.fw-light.text-dark
                        | +54 11 2558 2304
                a(href='mailto:ventasmayor@aunovit.com').text-decoration-none.col-lg.col-12.mt-5.mt-lg-0.text-center
                    img(src='icon/sbd/contacto/img_1.png').mx-auto.d-block.mb-lg-4.w-15
                    h5.display-9.mt-lg-2.mt-3.fw-light.text-dark
                        | consultas@snaiderbrothers.com
    section.bg-white
        .container.my-md-6.pb-md-7.pt-6
            h2.text-center
                | #[span.fw-light Muchas gracias por escribirnos,]
                | #[b.fw-bold.text-primary a la brevedad #[br] nuestro equipo se pondrá en contacto]
