extends layouts/main.pug
block variables
    -   var title = "SBD";

    -
        var menu = [
            { name: "HOME", url: "./index.html", active: true },
            { name: "NOSOTROS", url: "./nosotros.html", active: false },
            { name: "MARCAS", url: "./marcas.html", active: false },
            { name: "CONTACTO", url: "./contacto.html", active: false }
        ];
block content
    section.one
        div.mb-lg-9.mb-5.pt-lg-6
            .slider-home.owl-carousel.mt-lg-2.z-0.mt-6
                div
                    img(src='img/sbd-home/section_1/BannerHome01.png').w-100.d-md-inline-block.d-none
                    img(src='img/sbd-home/section_1/BannerHome01_Mob.png').w-100.d-lg-none.d-block
                    div.mt-lg-n10.mt-n11.container.align-items-center.d-md-flex.pb-lg-8.mb-10.mb-md-0
                        div.text-md-start.text-center.text-white.pt-lg-3.mt-lg-6.pt-8.mt-4
                            h4.text-warning.align-items-center.d-md-inline-flex.d-none
                                img(src='icon/sbd/start-circle.svg', width='40', height='40' style='width: 40px').me-md-4.me-3
                                span.fw-light PRODUCTO DESTACADO
                            h6.text-warning.d-flex.align-items-center.justify-content-center.justify-content-md-start.d-md-none.d-block
                                img(src='icon/sbd/start-circle.svg', width='30', height='30' style='width: 30px').me-md-4.me-3
                                span.fw-light PRODUCTO DESTACADO
                            h1.fw-semibold.text-warning.mt-lg-3 TOTAL QUARTZ #[br.d-md-none.d-block]7000 10w-40
                            h1.fw-light.mt-lg-3 Excelente limpieza y #[br] protección del motor.
                            a(href='./marcas.html').btn.btn-outline-warning.mt-lg-5.mt-3.d-md-inline-block.d-none DESCUBRÍ NUESTRAS MARCAS

                div
                    img(src='img/sbd-home/section_1/BannerHome03.png').w-100.d-md-inline-block.d-none
                    img(src='img/sbd-home/section_1/BannerHome03_Mob.png').w-100.d-lg-none.d-block
                    div.mt-lg-n10.mt-n11.container.align-items-center.d-md-flex.pb-lg-8.mb-10.mb-md-0
                        div.text-md-start.text-center.text-dark.pt-lg-3.mt-lg-6.pt-8.mt-4
                            h1.fw-light.mt-lg-3.text-white Cuidando de adentro #[br] hacia afuera, #[span.text-primary con las #[br] mejores marcas]
                            a(href='./marcas.html').btn.btn-outline-primary.mt-lg-5.mt-3.d-md-inline-block.d-none DESCUBRÍ NUESTRAS MARCAS
                div
                    img(src='img/sbd-home/section_1/BannerHome02.png').w-100.d-md-inline-block.d-none
                    img(src='img/sbd-home/section_1/BannerHome02_Mob.png').w-100.d-lg-none.d-block
                    div.mt-lg-n10.mt-n11.container.align-items-center.d-md-flex.pb-lg-8.mb-10.mb-md-0
                        div.text-md-start.text-center.text-white.pt-lg-4.mt-lg-6.pt-8.mt-4
                            h1.fw-light.mt-lg-3.text-dark Expertos mayoristas en #[br]lubricantes, aceites, #[br]filtros y escobillas
                            a(href='./marcas.html').btn.btn-warning.mt-lg-6.mt-3.d-md-inline-block.d-none.text-white DESCUBRÍ NUESTRAS MARCAS
    section.two.bg-light.pb-md-0.pb-4
        include components/_slider_section_2.pug
    section.three
        .bg-light.pt-lg-6.pb-lg-1.pb-5
            .container.mt-lg-4
                .row
                    .col-lg-4.text-center.mt-lg-0
                        img(src='icon/sbd/client.svg', width='55', height='100').mb-md-0.mb-0
                        | #[div.text-gray-400.display-5 +  #[span.counter(data-count="800") 0] ]
                        | #[div.text-primary.display-9.fw-normal.mt-lg-3 CLIENTES ]
                    hr.d-md-none.d-block.mt-5.col-7.mx-auto
                    .col-lg-4.text-center.mt-md-auto.mt-5.position-relative.rayas-vertical
                        img(src='icon/sbd/tag.svg', width='55', height='100').mb-md-0.mb-0
                        | #[div.text-gray-400.display-5 + #[span.counter(data-count="2000") 0]]
                        | #[div.text-primary.display-9.fw-normal.mt-lg-3 ARTÍCULOS DIARIOS #[br] ENTREGADOS ]
                    hr.d-md-none.d-block.mt-5.col-7.mx-auto
                    .col-lg-4.text-center.mt-md-auto.mt-5.mt-lg-0
                        img(src='icon/sbd/entrega.svg', width='55', height='100').mb-md-0.mb-0
                        | #[div.text-gray-400.display-5 + #[span.counter(data-count="360") 0]]
                        | #[div.text-primary.display-9.fw-normal.mt-lg-3 ENTREGAS DIARIAS]
        img(src='img/sbd-home/section_3/background.svg', width='100%').mt-lg-n4
    section.five.mt-lg-5
        .container
            .row
                .col-lg-6.px-lg-5.d-lg-flex.align-items-center.px-md-auto.px-0
                    div
                        h2.display-7.d-lg-inline.d-none #[span.fw-light STOCK] #[span.fw-bold.text-primary PERMANENTE]
                        h2.display-5.d-lg-none.d-block.text-center.mt-6 #[span.fw-light STOCK] #[br] #[span.fw-bold.text-primary PERMANENTE]
                        img(src='icon/sbd/raya.svg').mb-lg-3.mt-lg-4.d-md-block.d-none
                        p.fw-light.d-md-block.d-none
                            | En SBD nos destacamos fuertemente por nuestro stock permanente de
                            | productos. Nuestros clientes pueden estar seguros de que encontrarán los
                            | productos que necesitan en el momento preciso, lo que les permite mantener
                            | sus operaciones sin interrupciones y optimizar su rendimiento.
                        a(href='./marcas.html').btn.btn-primary.mt-4.text-white.fw-light.d-md-inline-block.d-none CONOCÉ LAS MARCAS QUE TRABAJAMOS
                .col-lg-6.px-md-auto.px-0
                    img(src='img/sbd-home/section_4/img.png', width='800').d-md-block.d-none
                    img(src='img/sbd-home/section_4/img_m.png', width='100%').d-md-none.d-block.my-4
                    p.fw-light.d-md-none.d-block.px-4.text-center
                        | En SBD nos destacamos fuertemente por nuestro stock permanente de
                        | productos. Nuestros clientes pueden estar seguros de que encontrarán los
                        | productos que necesitan en el momento preciso, lo que les permite mantener
                        | sus operaciones sin interrupciones y optimizar su rendimiento.
                    .d-md-none.d-flex.justify-content-center.mb-6
                        a(href='./marcas.html').btn.btn-primary.mt-4.text-white.fw-light DESCUBRÍ NUESTRAS MARCAS
        .bg-light.py-lg-6.mt-lg-6
            .container
                .row
                    .col-lg-6.px-lg-5.d-lg-flex.align-items-center.px-md-auto.px-0.d-md-flex.justify-content-md-end
                        h2.display-5.d-lg-none.d-block.text-center.mt-5 #[span.fw-light ENTREGA] #[br] #[span.fw-bold.text-primary EN 24Hs]
                        img(src='img/sbd-home/section_4/img_1.png', width='800').d-md-block.d-none
                        img(src='img/sbd-home/section_4/img_1_m.png', width='100%').d-md-none.d-block.my-4
                    .col-lg-6.px-lg-5.d-lg-flex.align-items-center
                        div
                            h2.display-7.d-lg-inline.d-none #[span.fw-light ENTREGA EN] #[span.fw-bold.text-warning 24Hs]
                            img(src='icon/sbd/raya.svg').mb-lg-3.mt-lg-4.d-md-block.d-none
                            p.fw-light.text-md-start.text-center
                                | Una de las principales ventajas de nuestra venta mayorista de lubricantes y
                                | aceites es nuestra rápida entrega en tan solo 24 horas. Este servicio ágil y
                                | eficiente nos distingue, permitiendo a nuestros clientes recibir sus pedidos de
                                | manera pronta y confiable.
                            a(href='./marcas.html').btn.btn-warning.mt-4.text-white.fw-light.d-md-inline-block.d-none CONOCÉ LAS MARCAS QUE TRABAJAMOS
                            .d-md-none.d-flex.justify-content-center.mb-6
                                a(href='./marcas.html').btn.btn-warning.mt-4.text-white.fw-light DESCUBRÍ NUESTRAS MARCAS
        .container.mt-lg-6
            .row
                .col-lg-6.px-lg-5.d-lg-flex.align-items-center.px-md-auto.px-0
                    div
                        h2.display-7.d-lg-inline.d-none #[span.fw-light ATENCIÓN] #[span.fw-bold.text-primary PERSONALIZADA]
                        h2.display-5.d-lg-none.d-block.text-center.mt-6 #[span.fw-light ATENCIÓN] #[br] #[span.fw-bold.text-primary PERSONALIZADA]
                        img(src='icon/sbd/raya.svg').mb-lg-3.mt-lg-4.d-md-block.d-none
                        p.fw-light.d-md-block.d-none
                            | Nos enorgullece brindar un servicio cercano y adaptado a las necesidades
                            | específicas de cada empresa, a quienes conocemos en profundidad. Nuestro
                            | equipo altamente capacitado está siempre disponible para asesorar y ofrecer
                            | soluciones a medida, garantizando que cada cliente reciba la atención y el
                            | apoyo que merece.
                        a(href='./marcas.html').btn.btn-primary.mt-4.text-white.fw-light.d-md-inline-block.d-none CONOCÉ LAS MARCAS QUE TRABAJAMOS
                .col-lg-6.px-md-auto.px-0
                    img(src='img/sbd-home/section_4/img_2.png', width='800').d-md-block.d-none
                    img(src='img/sbd-home/section_4/img_2_m.png', width='100%').d-md-none.d-block.my-4
                    p.fw-light.d-md-none.d-block.px-4.text-center
                        | Nos enorgullece brindar un servicio cercano y adaptado a las necesidades
                        | específicas de cada empresa, a quienes conocemos en profundidad. Nuestro
                        | equipo altamente capacitado está siempre disponible para asesorar y ofrecer
                        | soluciones a medida, garantizando que cada cliente reciba la atención y el
                        | apoyo que merece.
                    .d-md-none.d-flex.justify-content-center.mb-6
                        a(href='./marcas.html').btn.btn-primary.mt-4.text-white.fw-light DESCUBRÍ NUESTRAS MARCAS
    section.six.mt-lg-6
        div.container
            <iframe style="width:100%; aspect-ratio: 16/9;" src="https://www.youtube.com/embed/dUq7U3sfFMA?si=5m3IRdA2vtmRXBRB" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    section.seven.mt-lg-7
        h2.display-7.text-center.d-md-block.d-none #[span.fw-light TESTIMONIOS DE] #[span.fw-bold.text-primary CLIENTES]
        h2.display-4.text-center.d-md-none.d-block.mt-6 #[span.fw-light TESTIMONIOS DE] #[br] #[span.fw-bold.text-primary CLIENTES]
        img(src='img/sbd-home/section_7/background.svg', width='80%').mt-lg-n6.mx-auto.d-md-block.d-none
        img(src='img/sbd-home/section_7/background_Mob.png', width='100%').mt-n8.mx-auto.d-md-none.d-block
        div.mt-n10.mt-md-n10.mt-lg-n9.mt-xl-n9.mt-xxl-n10.mt-xxxl-n10
            include components/_slider_card.pug
    section.eight
        .container.my-md-6.pb-md-7.pt-6
            h2.text-center
                | #[span.fw-light Expertos mayoristas en lubricantes, aceites, filtros y escobillas.] #[br.d-md-none.d-block]
                | #[b Resolvé las necesidades de tu negocio con las ] #[b.fw-bold.text-primary mejores prestaciones.]
            .d-flex.justify-content-center
                a(href="contacto.html").btn.btn-primary.text-white.mt-4
                    | DARME DE ALTA COMO CLIENTE