extends layouts/main.pug
block variables
    -   var title = "SBD | Marcas";

    -
        var menu = [
            {name: "HOME", url: "./index.html", active: false},
            {name: "NOSOTROS", url: "./nosotros.html", active: false},
            {name: "MARCAS", url: "./marcas.html", active: true},
            {name: "CONTACTO", url: "./contacto.html", active: false}
        ];
block content
    section.nosotros-one.flex-wrap.d-flex.d-lg-block
        div
            img(src="img/marcas/section_1/img.png").w-100.mt-lg-6.pt-2.d-lg-block.d-none
            img(src="img/marcas/section_1/img_m.png").w-100.mt-lg-6.pt-lg-2.mt-6.d-lg-none.d-block
            .container.pt-lg-3.mt-n11.pt-8.mt-md-0
                .col-lg-5.mt-lg-n10.pt-lg-1.order-lg-1.order-0.mt-0.pt-0
                    .display-8.text-start.text-white.mt-4.mt-lg-3.px-lg-0.px-5.lh-lg.fw-lighter.d-lg-none.d-xxl-none.d-xxxl-block.d-none
                        | En SBD nos dedicamos con igual pasión a
                        | brindar el mejor servicio junto con ofrecer los
                        | productos más destacados del mercado.
                        p.d-lg-block.d-none.mt-lg-4.text-white.fw-lighter.lh-lg.display-9
                            | Por eso, cada marca con la que trabajamos en exclusiva ha
                            | sido rigurosamente seleccionada para garantizar a
                            | nuestros clientes los más altos niveles de calidad.
                    .display-9.text-start.text-white.mt-4.mt-lg-7.px-lg-0.px-5.lh-lg.fw-lighter.d-lg-none.d-xxl-block.d-xxxl-none.d-none
                        | En SBD nos dedicamos con igual pasión a
                        | brindar el mejor servicio junto con ofrecer los
                        | productos más destacados del mercado.
                        p.mt-lg-4.text-white.fw-lighter.lh-lg.display-9
                            | Por eso, cada marca con la que trabajamos en exclusiva ha
                            | sido rigurosamente seleccionada para garantizar a
                            | nuestros clientes los más altos niveles de calidad.
                    .display-9.text-start.text-white.mt-4.mt-lg-7.pt-5.px-lg-0.px-5.lh-lg.fw-lighter.d-lg-block.d-xxl-none.d-none
                        | En SBD nos dedicamos con igual pasión a
                        | brindar el mejor servicio junto con ofrecer los
                        | productos más destacados del mercado.
                        p.mt-lg-4.text-white.fw-lighter.lh-lg.display-9
                            | Por eso, cada marca con la que trabajamos en exclusiva ha
                            | sido rigurosamente seleccionada para garantizar a
                            | nuestros clientes los más altos niveles de calidad.
                    .display-9.text-center.text-white.mt-0.mt-lg-7.px-lg-0.px-4.lh-md.fw-lighter.d-lg-none.d-block
                        | En SBD nos dedicamos con igual pasión a
                        | brindar el mejor servicio junto con ofrecer los
                        | productos más destacados del mercado.
                        p.mt-4.text-white.fw-lighter.lh-lg.display-9
                            | Por eso, cada marca con la que trabajamos en exclusiva ha
                            | sido rigurosamente seleccionada para garantizar a
                            | nuestros clientes los más altos niveles de calidad.

    section.five.mt-lg-n8.mt-9.pt-4.pt-lg-0
        h2.display-7.text-center.d-md-block.d-none.mt-9 #[span.fw-light SOMOS] #[span.fw-bold.text-primary COMERCIALIZANTES OFICIALES] #[br] DE LAS SIGUIENTES MARCAS
        h2.display-5.text-center.d-md-none.d-block.mt-5 #[span.fw-light SOMOS] #[span.fw-bold.text-primary COMERCIALIZANTES OFICIALES] #[span.fw-bold DE LAS] #[br]  SIGUIENTES MARCAS
        .container
            .row
                .col-lg-6.px-lg-5.d-lg-flex.align-items-center.px-md-auto.px-0
                    div
                        .d-lg-inline.d-none
                            img(src='img/marcas/section_2/img.png').w-25
                        .d-lg-none.d-block.text-center.mt-6
                            img(src='img/marcas/section_2/img.png').w-40
                        img(src='icon/sbd/raya.svg').mb-lg-3.mt-lg-4.d-md-block.d-none
                        p.fw-light.d-md-block.d-none.mb-lg-2
                            | Desde 1917 conforma la línea más completa e innovadora de productos de
                            | visibilidad del conductor.
                        p.fw-light.d-md-block.d-none.mb-lg-2
                            | Es líder en la fabricación de limpiaparabrisas, ofreciendo siempre la más alta
                            | gama de sistemas.
                        p.fw-light.d-md-block.d-none.mb-lg-2
                            | Es importante destacar que en TRICO, se aseguran que todos los Sistemas
                            | Limpiaparabrisas que van a una planta de montaje están diseñados, fabricados
                            | y probados para las especificaciones de Equipo Original, según los
                            | requerimientos de Calidad del Cliente.
                .col-lg-6.px-md-auto
                    img(src='img/marcas/section_2/img_content.jpg', width='700').d-md-block.d-none
                    img(src='img/marcas/section_2/img_content.jpg', width='100%').d-md-none.d-block.my-4
                    p.fw-light.d-md-none.d-block.px-4.text-md-start.mb-lg-2
                        | Desde 1917 conforma la línea más completa e innovadora de productos de
                        | visibilidad del conductor.
                    p.fw-light.d-md-none.d-block.px-4.text-md-start.mb-lg-2
                        | Es líder en la fabricación de limpiaparabrisas, ofreciendo siempre la más alta
                        | gama de sistemas.
                    p.fw-light.d-md-none.d-block.px-4.text-md-start.mb-lg-2
                        | Es importante destacar que en TRICO, se aseguran que todos los Sistemas
                        | Limpiaparabrisas que van a una planta de montaje están diseñados, fabricados
                        | y probados para las especificaciones de Equipo Original, según los
                        | requerimientos de Calidad del Cliente.
        .bg-light.py-lg-5.my-lg-4.py-5
            .container
                .row
                    .col-lg-6.px-lg-5.d-lg-flex.align-items-center.px-md-auto.px-0.d-md-flex.justify-content-md-end
                        .d-lg-inline.d-none
                            img(src='img/marcas/section_2/img_1.png').w-40
                        .d-lg-none.d-block.text-center
                            img(src='img/marcas/section_2/img_1.png').w-60
                        img(src='img/marcas/section_2/img_1_content.jpg', width='700').d-md-block.d-none
                        img(src='img/marcas/section_2/img_1_content.jpg', width='100%').d-md-none.d-block.my-4
                    .col-lg-6.px-lg-5.d-lg-flex.align-items-center
                        div
                            .d-lg-inline.d-none
                                img(src='img/marcas/section_2/img_1.png').w-50
                            img(src='icon/sbd/raya.svg').mb-lg-3.mt-lg-4.d-md-block.d-none
                            p.fw-light.text-md-start.px-4.px-lg-0.mb-lg-2
                                | TotalEnergies Argentina está presente en el mercado de aceite de motor para
                                | autos, utilitarios y camiones a través de sus marcas TotalEnergies y ELF.
                            p.fw-light.text-md-start.px-4.px-lg-0.mb-lg-2
                                | Desde 1978 es en Argentina un actor primordial en el mercado de lubricantes y
                                | fitosanitarios, caracterizándose por su calidad e innovación continua.
                            p.fw-light.text-md-start.px-4.px-lg-0.mb-lg-2
                                | Total Energies es la cuarta compañía mundial de lubricantes y en SBD nos
                                | enorgullece formar parte de su familia de distribuidores oficiales.
        .container
            .row
                .col-lg-6.px-lg-5.d-lg-flex.align-items-center.px-md-auto.px-0
                    div
                        .d-lg-inline.d-none
                            img(src='img/marcas/section_2/img_2.png').w-25
                        .d-lg-none.d-block.text-center.mt-6
                            img(src='img/marcas/section_2/img_2.png').w-40
                        img(src='icon/sbd/raya.svg').mb-lg-3.mt-lg-4.d-md-block.d-none
                        p.fw-light.d-md-block.d-none.mb-lg-2
                            | FRAM® es parte de First Brands Group, un fabricante mundial de piezas de
                            | automóvil que presta sus servicios al mercado de repuestos y la industria de
                            | equipos originales en todo el mundo, con la mejor tecnología y capacidades en
                            | la ingeniería automotriz.
                        p.fw-light.d-md-block.d-none.mb-lg-2
                            | FRAM® Argentina comercializa en el país su propia marca, para el mercado de
                            | reposición. La misma está compuesta por distintas líneas de producto que
                            | apuntan a satisfacer la amplia demanda del Aftermarket.
                .col-lg-6.px-md-auto
                    img(src='img/marcas/section_2/img_2_content.jpg', width='800').d-md-block.d-none
                    img(src='img/marcas/section_2/img_2_content.jpg', width='100%').d-md-none.d-block.my-4
                    p.fw-light.d-md-none.d-block.px-4
                        | FRAM® es parte de First Brands Group, un fabricante mundial de piezas de
                        | automóvil que presta sus servicios al mercado de repuestos y la industria de
                        | equipos originales en todo el mundo, con la mejor tecnología y capacidades en
                        | la ingeniería automotriz.
                    p.fw-light.d-md-none.d-block.px-4
                        | FRAM® Argentina comercializa en el país su propia marca, para el mercado de
                        | reposición. La misma está compuesta por distintas líneas de producto que
                        | apuntan a satisfacer la amplia demanda del Aftermarket.
        .container.my-md-6.pb-md-7.pt-6
            h2.text-center ¿Aún no eres cliente?
            .d-flex.justify-content-center
                a(href="contacto.html").btn.btn-primary.text-white.mt-4
                    | CONTÁCTANOS