extends layouts/main.pug
block variables
    -   var title = "SBD | Nosotros";

    -
        var menu = [
            {name: "HOME", url: "./index.html", active: false},
            {name: "NOSOTROS", url: "./nosotros.html", active: true},
            {name: "MARCAS", url: "./marcas.html", active: false},
            {name: "CONTACTO", url: "./contacto.html", active: false}
        ];
block content
    section.nosotros-one.flex-wrap.d-flex.d-lg-block
        div
            img(src="img/nosotros/section_1/img.png").w-100.mt-lg-6.pt-2.d-lg-block.d-none
            img(src="img/nosotros/section_1/img_m.png").w-100.mt-lg-6.pt-lg-2.mt-6.d-lg-none.d-block
            .container.pt-lg-3.mt-n11.pt-8.mt-md-0
                .col-lg-5.mt-lg-n10.pt-lg-1.order-lg-1.order-0.mt-7.pt-0
                    .display-9.text-start.mt-4.mt-lg-6.px-lg-0.px-5.lh-lg.fw-light.d-lg-none.d-xxl-none.d-xxxl-block.d-none
                        | Nuestro objetivo como empresa es que cada
                        | cliente pueda #[strong encontrar en SBD ] no solo un
                        | proveedor mayorista de plena confianza,
                        | también un espacio de #[strong.fw-bolder asesoramiento experto]
                        | y asegurarse que con cada pedido haya una
                        | respuesta insuperable en tiempo y forma.
                    .display-9.text-start.mt-4.mt-lg-7.px-lg-0.px-5.lh-lg.fw-light.d-lg-none.d-xxl-block.d-xxxl-none.d-none
                        | Nuestro objetivo como empresa es que cada
                        | cliente pueda #[strong.fw-bolder encontrar en SBD ] no solo un
                        | proveedor mayorista de plena confianza,
                        | también un espacio de #[strong.fw-bolder asesoramiento experto]
                        | y asegurarse que con cada pedido haya una
                        | respuesta insuperable en tiempo y forma.
                    .display-9.text-start.mt-4.mt-lg-7.pt-5.px-lg-0.px-5.lh-lg.fw-light.d-lg-block.d-xxl-none.d-none
                        | Nuestro objetivo como empresa es que cada
                        | cliente pueda #[strong.fw-bolder encontrar en SBD ] no solo un
                        | proveedor mayorista de plena confianza,
                        | también un espacio de #[strong.fw-bolder asesoramiento experto]
                        | y asegurarse que con cada pedido haya una
                        | respuesta insuperable en tiempo y forma.
                    .display-9.text-center.mt-0.mt-lg-7.px-lg-0.px-4.lh-md.fw-light.d-lg-none.d-block
                        | Nuestro objetivo como empresa es que cada
                        | cliente pueda #[strong.fw-bold encontrar en SBD ] no solo un
                        | proveedor mayorista de plena confianza,
                        | también un espacio de #[strong asesoramiento experto]
                        | y asegurarse que con cada pedido haya una
                        | respuesta insuperable en tiempo y forma.
                    .justify-content-md-start.justify-content-center.d-flex.mt-4.mt-lg-5
                        a(href="./marcas.html").btn.btn-primary.text-white
                            | DESCUBRÍ NUESTRAS MARCAS
                            i.bi.bi-arrow-right.ms-2

    section.nosotros-two
        .mt-lg-6.pt-lg-3.mt-5.container.mt-9
            .row.justify-content-between
                .col-lg-5
                    p.text-md-start.text-center.mb-md-2.mb-5.fw-light
                        | SBD es una empresa establecida desde 2016 especialista en el
                        | rubro de Lubricantes y Filtros, y desde sus comienzos ha
                        | mantenido un firme compromiso de brindar un excelente
                        | servicio a los negocios del sector ofreciendo un amplio stock y
                        | la más alta calidad.
                    p.text-md-start.text-center.mb-md-2.mb-5.fw-light
                        | Trabajamos en forma exclusiva con #[a.text-primary las mejores marcas de]
                        | #[a(href="./marcas.html").text-primary lubricantes, filtros y escobillas limpiaparabrisas.] Contamos
                        | con un equipo experto y un sistema digital a medida, para
                        | asegurar la mejor atención y un proceso de pedidos eficaz.

                .col-lg-5
                    p.text-md-start.text-center.mb-md-2.mb-5.fw-light
                        | Nuestros más de 800 clientes son testimonio de nuestro
                        | compromiso en satisfacer todas las demandas de un mercado
                        | cada día más exigente.
                    p.text-md-start.text-center.mb-md-2.mb-5.fw-light
                        | SBD cuenta con un depósito central de 1.300 m² iseñado
                        | específicamente para un óptimo guardado y manipulación de
                        | productos de alto y medio volumen. uestro equipo en planta
                        | coordina y controla que todos los procesos sean seguros y ágiles.
    section.mb-lg-7.col-11.col-md-11.col-xxxxl-9.px-3.px-md-4.mb-5.mt-lg-7.mt-5.mx-lg-auto.mx-auto
        .card.border-0.px-lg-3.py-lg-5.rounded-4.px-4.py-5.d-none.d-md-block
            h1.text-center.display-6.mb-lg-6.fw-normal
                | #[span NUESTROS] #[span.text-primary VALORES]
            .row.d-lg-flex.align-items-end
                .col-lg.col-12.mt-5.mt-lg-0
                    img(src='icon/sbd/valores/img.png').mx-auto.d-block.w-25
                    h5.display-9.mt-lg-4.mt-3.text-center.fw-normal
                        | Excelencia
                .col-lg.col-12.mt-5.mt-lg-0
                    img(src='icon/sbd/valores/img_1.png').mx-auto.d-block.w-30
                    h5.display-9.mt-lg-4.mt-3.text-center.fw-normal
                        | Profesionalismo
                .col-lg.col-12.mt-5.mt-lg-0
                    img(src='icon/sbd/valores/img_2.png').mx-auto.d-block.w-35
                    h5.display-9.mt-lg-4.mt-3.text-center.fw-normal
                        | Agilidad
                .col-lg.col-12.mt-5.mt-lg-0
                    img(src='icon/sbd/valores/img_3.png').mx-auto.d-block.w-35
                    h5.display-9.mt-lg-4.mt-3.text-center.fw-normal
                        | Confiabilidad
                .col-lg.col-12.mt-5.mt-lg-0
                    img(src='icon/sbd/valores/img_4.png').mx-auto.d-block.w-35
                    h5.display-9.mt-lg-4.mt-3.text-center.fw-normal
                        | Experiencia
                .col-lg.col-12.mt-5.mt-lg-0
                    img(src='icon/sbd/valores/img_5.png').mx-auto.d-block.w-30
                    h5.display-9.mt-lg-4.mt-3.text-center.fw-normal
                        | Servicios al cliente
        .border-0.px-lg-6.py-lg-5.rounded-4.px-4.py-4.d-block.d-md-none.card
            h1.text-center.display-6.mb-lg-6.pb-4
                | #[span NUESTROS] #[br] #[span.text-primary.fw-bold VALORES]
            .owl3.owl-carousel
                div
                    img(src='icon/sbd/valores/img.png').mx-auto.d-block.w-50
                    h5.display-8.mt-lg-4.mt-3.text-center
                        | Excelencia
                div
                    img(src='icon/sbd/valores/img_1.png').mx-auto.d-block.w-40
                    h5.display-8.mt-lg-4.mt-3.text-center
                        | Profesionalismo
                div
                    img(src='icon/sbd/valores/img_2.png').mx-auto.d-block.w-60
                    h5.display-8.mt-lg-4.mt-3.text-center
                        | Agilidad
                div
                    img(src='icon/sbd/valores/img_3.png').mx-auto.d-block.w-55
                    h5.display-8.mt-lg-4.mt-3.text-center
                        | Confiabilidad
                div
                    img(src='icon/sbd/valores/img_4.png').mx-auto.d-block.w-45
                    h5.display-8.mt-lg-4.mt-3.text-center
                        | Experiencia
                div
                    img(src='icon/sbd/valores/img_5.png').mx-auto.d-block.w-40
                    h5.display-8.mt-lg-4.mt-3.text-center
                        | Servicio al cliente