extends layouts/main_p.pug
block variables
    -   var title = "SBD | Contacto";

    -
        var menu = [
            {name: "HOME", url: "./index.html", active: false},
            {name: "NOSOTROS", url: "./nosotros.html", active: false},
            {name: "MARCAS", url: "./marcas.html", active: false},
            {name: "CONTACTO", url: "./contacto.html", active: false}
        ];
block content
    section.mb-lg-0.col-12.col-md-12.px-3.px-md-auto.mb-1.bg-light.pt-lg-8.pb-lg-6.pt-7.mt-4.pb-5.h-100
        div.container
            h2.display-6.text-center.fw-ligth.d-md-block.d-none #[span PROXIMAMENTE ]
            h2.display-5.text-center.fw-ligth.d-md-none.d-block PROXIMAMENTE
            .row.mt-lg-6
                a(href='tel:+5491170780416').text-decoration-none.col-lg.col-12.mt-5.mt-lg-0.text-center.mb-lg-0.mb-5
                    img(src='icon/sbd/contacto/img.png').mx-auto.d-block.mb-lg-4.mb-3.w-15
                    h5.display-9.mt-lg-2.fw-light.text-dark
                        |  +54 91 17078 0416
                a(href='https://wa.me/5491168581006').text-decoration-none.col-lg.col-12.mt-2.mt-lg-0.text-center
                    img(src='icon/sbd/contacto/img_1.png').mx-auto.d-block.mb-lg-4.w-15
                    h5.display-9.mt-lg-2.mt-3.fw-light.text-dark
                        | +54 91 16858 1006
                a(href='mailto:ventasmayor@aunovit.com').text-decoration-none.col-lg.col-12.mt-5.mt-lg-0.text-center
                    img(src='icon/sbd/contacto/img_2.png').mx-auto.d-block.mb-lg-4.w-15
                    h5.display-9.mt-lg-2.mt-3.fw-light.text-dark
                        | ventasmayor@aunovit.com